* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

html,
body,
main,
section{
    height: 100%;
}

body{
    font-size: 1.6rem;
}

main{
}

main section{
    padding: var(--padding-2xl);
}

section .top{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

.btn {
    font-size: 1.6rem;
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    color: var(--text-active-color);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-safe-color);
    color: var(--text-primary-color);
}

label.btn{
    display: flex;
    align-items: center;
    cursor: pointer;
} 