:root{

    /* Background Color*/
    --bg-primary-color: #111111;
    --bg-secondary-color: #343434;
    --bg-active-color: rgb(233, 233, 233);
    --bg-danger-color: rgb(200, 50, 50);
    --bg-safe-color: rgb(28, 160, 28);


    /* Text Color */
    --text-primary-color: rgb(237, 237, 237);
    --text-secondary-color: rgb(200, 200, 200);
    --text-tertiary-color: rgb(150, 150, 150);
    --text-active-color: rgb(24, 24, 24);

    /* Padding */
    --padding-sm: 0.8rem;
    --padding-md: 1.6rem;
    --padding-lg: 2.4rem;
    --padding-xl: 3.2rem;
    --padding-2xl: 4.8rem;
    
    /* Margin */
    --margin-sm: 0.8rem;
    --margin-md: 1.6rem;
    --margin-lg: 2.4rem;
    --margin-xl: 3.2rem;
    --margin-2xl: 4.8rem;
        
    /* Gutter */
    --gutter-sm: 0.8rem;
    --gutter-md: 1.6rem;
    --gutter-lg: 2.4rem;
    --gutter-xl: 3.2rem;
    --gutter-2xl: 4.8rem;

    /* Font Size */
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 1.8rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.4rem;

    /* Border Radius */
    --border-radius-sm: 0.32rem;
    --border-radius-md: 0.4rem;
    --border-radius-lg: 0.48rem;
    --border-radius-xl: 0.64rem;
    --border-radius-2xl: 0.5rem;
}